
ul{
    width: 100%;
}

#bottone-accedi{
    border-radius: 20px;
    background-color: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
}

span > i{
    font-size: 2em;
}

#sezione-sony-logo{
    background-color: black;
}

#sezione-sony-logo img{
    height: 20px;
}

#navbar-menu-collapse{
    color:grey;
    border: 1px solid grey;
}